nav{
	background: #9E9E9E !important;
}
.header{
	color: #ee6e73;
	font-weight: 300;
	border-bottom: #ccc solid 2px;
	padding-bottom: 20px;
}
.header a{
	font-size: 14px;
	margin-top: 13px;
	font-weight: 500;
}