nav{
	background: #9E9E9E !important;
}
.header{
	color: #ee6e73;
	font-weight: 300;
	border-bottom: #ccc solid 2px;
	padding-bottom: 20px;
}
.header a{
	font-size: 14px;
	margin-top: 13px;
	font-weight: 500;
}
.add-role p{
	float:left;
	margin-right: 20px;
}
.add-role label{
	font-size: 16px;
	margin-left: 10px;
}
#image_preview{
	margin-top: 20px;
	display: none;
	width:200px;
}