// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-style{
	margin-top:10px;
}


.slider .input-search{
	position:absolute;
	top:45%;
	left:15%;
	width:70%;
	border-radius:5px 5px;
	z-index:999;
	height:200px;
	background:rgba(204, 204, 204, 0.75);
	padding-left:20px;
	padding-right:20px;

}
.input-search h6 span{
	float:left;
	margin-right:10px;
	font-size:18px;
}
.input-search h6 p{
	width:150px;
	float:left;
	margin:0;
	margin-top:-3px;
}
.input-search h6 p label{
	color:#000;
}
.input-search .row label{
	font-size:18px;
	color:rgba(0, 0, 0, 0.8);
	left:0;
}
.input-search input[type=text]{
	border-bottom:2px solid #000;
}
.input-search .input-field label.active{
	transform: translateY(-100%);
	color:#000 !important;
	font-size:16px;
}
.input-search input[type=text]:focus:not([readonly]){
	border-bottom: 2px solid #000#26a69a;
}
.slider .row .col{
	padding:0;
}
.slider .row .col.s12{
	width:80%;
}
.parallax-container {
	height: 300px !important;
}
#suggesstion-box{
	margin-top:-15px;
	background:#ccc;
}
#suggesstion-box p{
	color:#fff;
	margin-top:0;
	padding-left:10px;
	margin-bottom: 0;
	line-height:30px;
}
#suggesstion-box p:hover{
	background: #345453;
}

.bg-stripe{
	background-image: image-url("stripe.png");
	height:12px;
	overflow:hidden;
}
.title-m{
	width:100%;
}
.row-hotel{
	width:100%;
	margin-top:20px;
	margin-bottom:20px;
}
.welcome-index{
	padding:20px;

}
.title-m h3{
	margin-top:-21px;
	margin-right:10px;
}
.card .card-title{
	font-size:18px !important;
}
.add-s{
	font-size:14px !important;
	height:45px;
}
.header{
	border-bottom:#ccc solid 2px;
	padding-bottom:20px;
}
.row{
	margin-bottom:0px !important;
	width:100%;
}
.row .place-{
	width:23%;
	margin:10px;
}
